
    html {
        font-family: 'Raleway', sans-serif;
        min-height: 100%;
        max-height: 200%;
        background-image: url('../images/bluemountains.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;    
    }

    @media screen and (min-width: 320px) and (max-width: 1156px){

        .site-bg-dl {
        /* position: fixed; */
        height: 100%;
        width: 100%;
        z-index: 0;
        background-size: cover;
        background-size:100% 100%;
        -moz-background-size:100% 100%;
        overflow: scroll;
    }
}
    
    body {
        background-color: none;
        /* min-width: 320px;
        min-height: 750px; */
        margin: 0;
        padding: 0;
        text-align: center;
        
    }
    
    .navigation {
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        display: block;
        list-style-type: none;
        font-weight: 100%;
        letter-spacing: 12px;
        min-width: 320px;
        padding: 5px;
        position: sticky;
        top: 0px;
        color: #0C4854;
        background-image: linear-gradient(#7ab8d5, #D9effb);
        opacity: 0.5;
        border-radius: 0px;
        z-index: 1;
        
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #0C4854;
    }
    
    #about {
        text-align: center;
        color: #0C4854;
        min-width: 320px;
    }
    
    /* h1 -> Banner -> content */
    
    h1 {
        font-size: 28px;
        font-weight: normal;
        color: #0C4854;
        min-width: 320px;
        padding: 0px;
    
    }
    
    .welcome {
        text-align: center;
        color: #0C4854;
        position: relative;
        float: none;
        bottom: 0px;
        height: 20px;
        min-width: 320px;
        padding: 5px;
        border-radius: 15px;
    
    }
    
    p {
        text-align: center;
        height: 5px;    
    } 

    .click {
        /* border: 3px dotted black; */
        border-radius: 15px;
        color:#0C4854;
        font-size: 20px;
        /* margin-bottom: 100px; */
        padding-top: 50px;
        padding-bottom: 25px;
    }
    
    img.git {
        background-image: linear-gradient(#7ab8d5,#0C4854);
        /* border: 7px dotted black; */
        border-radius: 25px;
        height: 50px;
        opacity: 0.4;
        text-align: center;
        width: 50px;
    }

    .update {
        /* border: 3px dotted black; */
        border-radius: 15px;
        color: #2BA3C2;
        min-width: 150px;
        padding: 5px;
        text-align:center;

    }