    html {
        font-family: 'Raleway', sans-serif;
        min-height: 100%;
        max-height: 200%;
        background-image: url('../images/bluemountains.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;    
    }

    @media screen and (min-width: 320px) and (max-width: 1156px){

        .site-bg-dl {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-size: cover;
        background-size:100% 100%;
        -moz-background-size:100% 100%;
    }
}
    
    body {
        background-color: none;
        margin: 0;
        min-width: 320px;
        min-height: 750px;
        /* padding: 0; */
        text-align: center;
        
    }
    
    .navigation {
        background: inherit;
        backdrop-filter: blur(10px);
        background-image: linear-gradient(#7ab8d5, #D9effb);
        border-radius: 0px;
        box-shadow: 0 0 2.5px 0;
        color: #0C4854;
        display: block;
        font-weight: 100%;
        list-style-type: none;
        letter-spacing: 12px;
        opacity: .5;
        padding: 5px;
        position: sticky;
        text-align: center;
        text-decoration: none;
        top: 0px;
        z-index: 1;
        
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #0C4854;
    }
    
    #about {
        text-align: center;
        color: #0C4854;
        /* min-width: 320px; */
    }
    
    /* h1 -> Banner -> content */
    
    h1 {
        font-size: 28px;
        font-weight: normal;
        color: #0C4854;
        padding: 0px;
    
    }
    
    .welcome {
        /* border: dotted black 5px; */
        text-align: center;
        color: #0C4854;
        float: none;
        bottom: 0px;
        height: 20px;
        padding: 5px;
        border-radius: 15px;
    
    }
    
    p {
        text-align: center;
        height: 5px;    
    } 

    .click {
        border-radius: 15px;
        color:#0C4854;
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    
    img.git {
        background-image: linear-gradient(#7ab8d5,#0C4854);
        border-radius: 50px;
        height: 50px;
        opacity: 0.4;
        text-align: center;
        width: 50px;
    }

    .button {
        background-color:#0C4854;
        background-image: linear-gradient(#7ab8d5, #0C4854);
        border: none;
        border-radius: 6px;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: light;
        letter-spacing: 1.5px;
        max-width: 280px;
        opacity: .7;
        padding: 8px;
        text-align:center;
        vertical-align: middle;
        
    }

    button:hover {
        opacity: 1;
        /* transition: all 1000ms ease;  */
    }

    /* button::after {

    } */

    .update {
        color:#0C4854;
        padding-top: 35px;;
    }