/* {
    outline: 2px solid lightgrey;
}
*/
html {
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    background-image: url('../images/astro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

body {
    background-color: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

/*.backgroundimage {
    height: 200;
    width: 200;
    padding: 2em;
    outline: 2px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
*/

.navigation {
    list-style-type: none;
    font-weight: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px;
    color: white;
    border: 2px dotted red;
    border-radius: 15px;
    
}

#about {
    border: 2px solid red;
}

/* h1 -> Banner -> content */

h1 {
    padding: 10px 20px 10px 20px;
    border: 3px dotted white;

}

.hello {
    text-align: center;
    color: #79bbd9;
    height:20px;
    padding: 40px;
    border: 2px solid white;
    border-radius: 15px;

}

/* #banner .content h1{
    height: 20px;
    width: 100%;
    color: #79bbd9;
    border: 3px dotted greenyellow;

} */

p {
    text-align: center;
    color: #79bbd9;
    height: 5px;
    /* padding: 20px; */

} 

#backgroundimage {
    padding: 10px 20px 10px 20px;
    border: 3px dotted pink;
}
.welcome {
    color: white;
    padding: 40px;
    border: 2px solid pink;
    border-radius: 15px;

}

.update {
    color:aquamarine;
    padding: 40px;
    border: 2px solid violet;
    border-radius: 15px;

}