html {
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    max-height: 200%;
    background-image: url('../images/bluemountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}

@media screen and (min-width: 320px) and (max-width: 1156px){

    .site-bg-dl {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    }
}

body {
    background-color: none;
    color: #0C4854;
    margin: 0;
    min-width: 320px;
    min-height: 750px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation {
    background-image: linear-gradient(#7ab8d5, #D9effb);
    color: #0C4854;
    /* display: block; */
    font-weight: light;
    letter-spacing: 12px;
    list-style-type: none;
    opacity: .5;
    padding: 5px;
    position: sticky;
    text-align: center;
    text-decoration:none;
    top: 5px;
}

a:link, a:visited, a:hover, a:active {
    color: #0C4854;
    text-decoration: none;
}

/* width: auto is default value where browser calculates width automatically */
.welcome {
    /* border: dotted black 5px; */
    letter-spacing: 3px;
    padding: 10px;
    width: auto; 
    top: 20px;
}

.description {
    border: dotted black 5px;
    padding: 100px;
}